<!-- <form id="formcarryForm">
    <label for="nameInput">Name</label>
    <input type="text" id="nameInput"/>

   <label for="messageInput">Message</label>
    <textarea id="messageInput" cols="30" rows="2"></textarea>

   <input type="file" id="pictureInput" />

     <button type="submit">Submit</button>
</form> -->
<!-- 
<label for="file">Select file
    <img [src]="imageUrl" alt="Image Review">
</label>
<input type="file" id="file" accept="image/*" hidden (change)="onSelectNewFile($event)">

<textarea rows="10" disabled [innerHTML]="base64"></textarea>

<button (click)="convertFileToBase64()">Base64</button> -->