<h2 style="text-align:center;">Add your photos</h2>
<div class="main">
    <label for="file" class="button btn-primary btn">Select images

        <input type="file" id="file" accept="image/*" class="button btn-primary btn" multiple hidden
            (change)="onSelectNewFile($any($event).target?.files)">
    </label>

    <div class="row">
        <div *ngFor="let base of base64" class="column">
            <img [src]="base" [ngStyle]="{'border-radius':'10px'}">
        </div>
    </div>

    <button mat-raised-button color="primary" (click)="sendImages()">Send images</button>
</div>