<h2 class="text-center" style="margin-bottom: 60px;"> {{userProfileDto.userName}}'s profile</h2>

<div class="col-md-1"></div>
<div class="col-md-5">
    <div style="padding-left: 40px; font-size: 18px;">
        <div>
            <label>E-mail: {{userProfileDto.email}}</label>
        </div>
        <hr>
        <div>
            <label>Name: {{userProfileDto.firstName}} {{userProfileDto.lastName}}</label>
        </div>
        <div>
            <label>Phone number: {{userProfileDto.countryCode}} {{userProfileDto.phoneNumber}}</label>
        </div>
        <hr>
    </div>
</div>
<div class="col-md-5">
    <div style="padding-left: 20px;">
        <div style="font-size: 18px;">
            <label>About: </label>
        </div>
        <div style="font-size: 16px;">
            <p>{{userProfileDto.about}}</p>
        </div>
    </div>
</div>
<div class="col-md-1"></div>

<div class="row">
    <div class="col-md-12">

        <div class="card-header card-header-danger">
            <h2 class="card-title" style="text-align: center;">This user active announcements</h2>
        </div>
        <table>

        </table>
        <!-- <mat-form-field>
            <mat-label>
                <input manInput placeholder="example">
            </mat-label>
        </mat-form-field> -->
        <a *ngFor="let announcement of announcements" (click)="showAnnouncementById(announcement.id)"  class="list-group-item clearfix">
    <div class="pull-left" style="padding-left: 50px;">
        <h4 class="list-group-item-heading">{{ announcement.title }}</h4>
        <p class="list-group-item-text">{{ announcement.city }}, {{announcement.district}}, {{announcement.state}} </p>
      </div>
      <div class="pull-right" style="padding-right: 50px;">
        <h4 class="list-group-item-heading ">{{ announcement.propertyType }}</h4>
        <p class="list-group-item-text pull-right">{{ announcement.price }} {{announcement.currency}} </p>
    </div>
</a>
    </div>
</div>