<!-- <p>Announcement APaaP</p> -->

<!-- <div class="bg-image"> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
    </div>
</div>


<!-- jak przekazac szukanie -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="text" id="propertyType" [(ngModel)]="announcement.propertyType" name="propertyType">
        </div>
    </div>
</div> -->


<!-- to teraz przerwa -->
<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb-up"></mat-icon> -->
        </div>
    </div>
</div>




<!-- <p>ROUTER OUTLET NIZEJ</p> -->
<!-- <p> TEST</p> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>