<div class="col-md-6">
  <h2 class="text-center">Edit user profile</h2>
  <form>

    <div class="form-group">
      <label for="uerName">User name:</label>
      <input [(ngModel)]="userProfileDto.userName" placeholder="UserName" name="userName" class="form-control"
        id="userName">
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input [(ngModel)]="userProfileDto.email" placeholder="email" name="email" class="form-control" id="email">
    </div>


    <div class="form-group">
      <label for="name">First name:</label>
      <input [(ngModel)]="userProfileDto.firstName" placeholder="FirstName" name="firstName" class="form-control"
        id="firstName">
    </div>

    <div class="form-group">
      <label for="lastname">Last name:</label>
      <input [(ngModel)]="userProfileDto.lastName" placeholder="LastName" name="lastName" class="form-control"
        id="lastName">
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone number:</label>
      <input [(ngModel)]="userProfileDto.phoneNumber" placeholder="phoneNumber" name="phoneNumber" class="form-control"
        id="phoneNumber">
    </div>

    <div class="form-group">
      <label for="coountryCode">Country code:</label>
      <input [(ngModel)]="userProfileDto.countryCode" placeholder="countryCode" name="countryCode" class="form-control"
        id="countryCode">
    </div>

    <div class="form-group">
      <label for="about">About:</label>
      <input [(ngModel)]="userProfileDto.about" placeholder="about" name="about" class="form-control" id="about">
    </div>



    <!-- <button class="btn btn-success" (click)="onEdit()">Edit</button> -->
    <button mat-raised-button color="primary" (click)="onEdit()">Edit</button>
  </form>
</div>