<div>
    <h3>Create Employee</h3>

    <form (ngSubmit)="onSubmit()">

        <div >
            <label>country(string)</label>
            <input type="text" id="country" [(ngModel)]="announcement.country" name="country">
        </div>
    
        <div >
            <label>city(string)</label>
            <input type="text" id="city" [(ngModel)]="announcement.city" name="city">
        </div>
        <div >
            <label>postal code(string)</label>
            <input type="text" id="postalCode" [(ngModel)]="announcement.postalCode" name="postalCode">
        </div>
        <div >
            <label>district(string)</label>
            <input type="text" id="district" [(ngModel)]="announcement.district" name="district">
        </div>
        <div >
            <label>state(string)</label>
            <input type="text" id="state" [(ngModel)]="announcement.state" name="state">
        </div>   
         <div >
            <label>street(string)</label>
            <input type="text" id="street" [(ngModel)]="announcement.street" name="street">
        </div>    
        <div>
            <label>houseNumber(string)</label>
            <input type="text" id="houseNumber" [(ngModel)]="announcement.houseNumber" name="houseNumber">
        </div>   
         <div >
            <label>title(string)</label>
            <input type="text" id="title" [(ngModel)]="announcement.title" name="title">
        </div>
        <div >
            <label>text(string)</label>
            <input type="text" id="text" [(ngModel)]="announcement.text" name="text">
        </div>
        <div >
            <label>propertyType(string)</label>
            <input type="text" id="propertyType" [(ngModel)]="announcement.propertyType" name="propertyType">
        </div>
        <div >
            <label>price(number)</label>
            <input type="number" min="1" max="9999" id="price" [(ngModel)]="announcement.price" name="price">
        </div>
        <div >
            <label>currency(string)</label>
            <input type="text" id="currency" [(ngModel)]="announcement.currency" name="currency">
        </div>
        <div >
            <label>livingSpace(number)</label>
            <input type="number" min="1" max="999" id="livingSpace" [(ngModel)]="announcement.livingSpace" name="livingSpace">
        </div>
        <div >
            <label>yearBuilt(number)</label>
            <input type="number" min="1900" max="2021" id="yearBuilt" [(ngModel)]="announcement.yearBuilt" name="yearBuilt">
        </div>
        <div >
            <label>availableFrom(date) pattern -> '2021-11-18''</label>
            <input type="date" max="2021-12-31" min="1700-01-01" id="availableFrom" [(ngModel)]="announcement.availableFrom" name="availableFrom">
        </div>
        <div >
            <p>PUBLICATION DATE AUTO</p>
        </div>
       
        <button  type="submit">Dodaj</button>
    </form>

</div>