<!-- <div class="register-section">

    <div class="row ">
        <h3>Create Announcement</h3>
        <div class="card-body">

            <form (ngSubmit)="onSubmit()">

                <div class="container" style="border: 1px solid black;">
                    <h2>Info</h2>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <form class="example-form center-div">
                                <mat-form-field class="over-width" appearance="fill">
                                    <mat-label>Title</mat-label>
                                    <input matInput placeholder="Mieszkanie dla studenta" value="Sushi" type="text"
                                        id="title" [(ngModel)]="announcement.title" name="title" required>
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <form class="example-form center-div">
                                <mat-form-field class="over-width" appearance="fill">
                                    <mat-label>Text</mat-label>
                                    <input matInput placeholder="Mieszkanie w centrum miasta" value="Sushi" type="text"
                                        id="text" [(ngModel)]="announcement.text" name="text" required
                                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" size="1000px" maxLength="1000">
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="container" style="border: 1px solid black;">
                    <h2>Address</h2>
                    <div class="col-md-6">
                        <div class="row" style="text-align: center; ">

                            <form class="example-form center-div">

                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Country</mat-label>
                                    <input matInput placeholder="Polska" value="Sushi" type="text" id="country"
                                        [(ngModel)]="announcement.country" name="country" required>
                                </mat-form-field>

                            </form>

                        </div>

                        <div class="row">

                            <form class="example-form center-div">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Postal code</mat-label>
                                    <input matInput placeholder="01-100" value="Sushi" type="text"
                                        id="announcement.postalCode" [(ngModel)]="announcement.postalCode"
                                        name="postalCode" required>
                                </mat-form-field>
                            </form>
                        </div>

                        <div class="row">
                            <form class="example-form center-div">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Street</mat-label>
                                    <input matInput placeholder="Jasna" value="Sushi" type="text" id="street"
                                        [(ngModel)]="announcement.street" name="street" required>
                                </mat-form-field>
                            </form>

                        </div>

                        <div class="row">

                            <form class="example-form center-div">
                                <mat-form-field class="short" appearance="fill">
                                    <mat-label>HouseNumber</mat-label>
                                    <input matInput placeholder="43" value="Sushi" type="text" id="houseNumber"
                                        [(ngModel)]="announcement.houseNumber" name="houseNumber" required>
                                </mat-form-field>
                            </form>
                        </div>


                    </div>




                    <div class="col-md-6">

                        <div class="row">

                            <form class="example-form center-div">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>State</mat-label>
                                    <input matInput placeholder="Mazowieckie" value="Sushi" type="text" id="state"
                                        [(ngModel)]="announcement.state" name="state" required>
                                </mat-form-field>
                            </form>

                        </div>
                        <div class="row">
                            <form class="example-form center-div">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="Warszawa" value="Sushi" type="text" id="city"
                                        [(ngModel)]="announcement.city" name="city" required>
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="row">

                            <form class="example-form center-div">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>District</mat-label>
                                    <input matInput placeholder="Praga" value="Sushi" type="text" id="district"
                                        [(ngModel)]="announcement.district" name="district" required>
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                </div>




                <div class="container" style="border: 1px solid black;">
                    <h2>Technical</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <form class="example-form center-div">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Property type</mat-label>

                                    <mat-select placeholder="MIESZKANIE" id="propertyType"
                                        [(ngModel)]="announcement.propertyType" name="propertyType" required>
                                        <mat-option value="MIESZKANIE" style="text-align: center;">MIESZKANIE
                                        </mat-option>
                                        <mat-option value="DOM" style="text-align: center;">DOM</mat-option>
                                        <mat-option value="POKÓJ" style="text-align: center;">POKÓJ</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </form>
                        </div>

                        <div class="col-md-6">
                            <form class="example-form center-div">
                                <mat-form-field class="short" appearance="fill">
                                    <mat-label>Living space</mat-label>
                                    <input matInput placeholder="7. piętro" value="Sushi" type="text" id="livingSpace"
                                        [(ngModel)]="announcement.livingSpace" name="livingSpace" required>
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form class="example-form center-div">
                                <mat-form-field class="short" appearance="fill">
                                    <mat-label>Price</mat-label>
                                    <input matInput placeholder="999" value="Sushi" type="number" id="price"
                                        [(ngModel)]="announcement.price" name="price" required>
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form class="example-form center-div">
                                <mat-form-field class="short" appearance="fill">
                                    <mat-label>Currency</mat-label>
                                    <input matInput placeholder="PLN" value="Sushi" type="text" id="currency"
                                        [(ngModel)]="announcement.currency" name="currency" required>
                                </mat-form-field>
                            </form>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <form class="example-form center-div">
                                <mat-form-field class="short" appearance="fill">
                                    <mat-label>Year built</mat-label>
                                    <input matInput placeholder="1980" value="Sushi" type="number" id="yearBuilt"
                                        [(ngModel)]="announcement.yearBuilt" name="yearBuilt" required>
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form class="example-form center-div">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Available from</mat-label>
                                    <input matInput placeholder="2021-12-01" value="Sushi" type="date" max="2023-12-31"
                                        min="1900-01-01" id="availableFrom" [(ngModel)]="announcement.availableFrom"
                                        name="availableFrom" required>
                                </mat-form-field>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="button">
                            <button type="submit">Add announcement</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
    <div>

 -->



<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Company (disabled)" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Username">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" type="email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Fist Name" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Last Name" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Adress" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="City" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Country" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Postal Code" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>About Me</label>
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput
                                            placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                    </mat-form-field>
                                    <!-- <div class="form-group">
          
                                                <div class="form-group">
                                                    <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                                    <textarea class="form-control" rows="5"></textarea>
                                                </div>
                                            </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update
                                Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                                    <img class="img" src="./assets/img/faces/marc.jpg" />
                                </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I
                            love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>