body {
  min-height: 100%;
}

.example-form {
  width: 150px;
  max-width: 400px;
  width: 200%;
}
.full-width {
  width: 100%;
}

.short {
  width: 50%;
}

.over-width {
  width: 100%;
  height: 100%;
}

h2 {
  box-sizing: border-box;
  background-color: #eee;
  text-align: center;
  margin: 5px;
  font-size: 20px;
}

h3 {
  background-color: #eee;
  text-align: center;
}

div.button {
  box-sizing: border-box;
  padding: 10px 75px; 
  text-align: center; 
  left: 50%; 
  top: 0;
}



.center-div {
  position: relative;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, 0%);
}

.border-div {
  border: 1px solid black;
}
