<!-- <h4 style="padding-left: 20px;"> Your inactive announcements:</h4> -->

<div class="row">
    <div class="col-md-12">

        <div class="card-header card-header-danger">
            <h2 class="card-title" style="text-align: center;">Your inactive announcements</h2>
        </div>
        <table>

        </table>
        <!-- <mat-form-field>
            <mat-label>
                <input manInput placeholder="example">
            </mat-label>
        </mat-form-field> -->
        <a *ngFor="let announcement of announcements" (click)="showAnnouncementById(announcement.id)" class="list-group-item clearfix" style="cursor:pointer">
            <div class="col-xs-3 image">
                
            <img [src]="announcement.images[0]" onerror="this.src='/assets/images/placeholder.png';" width="200" height="120" object-fit="cover">
            </div>
            <div class="col-xs-6 pull-left">
                <h4 style="font-weight: bold; margin-left: 10%;" class="list-group-item-heading">{{ announcement.title }}</h4>
                <p class="list-group-item-text" style="margin-left: 10%;">{{ announcement.country }}, {{announcement.state}}, {{ announcement.city }}, {{announcement.district}}</p>
              </div>
              <div class="col-xs-3 pull-right" style="margin-top: 10%; width: auto;text-align: right;">
                <h4 class="list-group-item-heading" style="margin: 0 0 0 0">{{ announcement.propertyType }}</h4>
                <p class="list-group-item-text ">{{ announcement.price }} {{announcement.currency}} </p>
          
            </div>
        </a>
    </div>
</div>