<h1>Static table</h1>

<mat-form-field>
    <mat-label>
        <input matInput placeholder="">
    </mat-label>
</mat-form-field>

<div>
    <table matInput placeholder="exxample">
        <ng-container matColumnDef='id'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-sort-header mat-cell *matCellDef="let announcement of announcements">{{ announcement.id }}</td>
        </ng-container>
        <ng-container matColumnDef='id'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-sort-header mat-cell *matCellDef="let announcements">{{ announcements.id }}</td>
        </ng-container>
        <ng-container matColumnDef='country'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
            <td mat-sort-header mat-cell *matCellDef="let announcements">{{ announcements.country }}</td>
        </ng-container>
        <ng-container matColumnDef='city'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
            <td mat-sort-header mat-cell *matCellDef="let announcements">{{ announcements.city }}</td>
        </ng-container>
        <ng-container matColumnDef='price'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
            <td mat-sort-header mat-cell *matCellDef="let announcements">{{ announcements.price }}</td>
        </ng-container>


    </table>
</div>