<div class="component" style="padding-left: 20px;">
    <!-- <div class="row"> -->
    <div class="col-md-8" style="margin-top: 30px;">
        <h1 style="text-align: left; margin-left: 45px; font-weight: bold;">{{announcement.title}}</h1>
        <div>
            <app-gallery></app-gallery>
        </div>
        <p style="text-align: left; margin-left: 45px; font-size: 16px;">{{announcement.text}}</p>
    </div>
    <div class="col-md-4">
        <h1 style="margin-top: 30px; font-size: 30px;">{{announcement.price}} {{announcement.currency}}</h1>
        <!-- <button primary mat-icon-button (click)="addToFavourite()">ADD TO FAVOURITE
            </button>
            <button primary mat-icon-button (click)="editAnnouncement()">EDIT ANNOUNCEMENT
            </button> -->
        <button mat-raised-button color="primary" (click)="addToFavourite()">
            <mat-icon>
                favorite
            </mat-icon>ADD TO FAVOURITE
        </button>


        <hr>
        <div>
            <div *ngIf="authService.isAuthenticated()">
                <div>
                    <label style="font-size: 16px;">First name: {{userProfileDto.firstName}} </label>
                </div>
                <div>
                    <label style="font-size: 16px;">Phone number: {{userProfileDto.phoneNumber}}</label>
                </div>
                <button mat-raised-button color="primary" (click)="goToUserProfile()">Check profile of this
                    user</button>
                <hr>
            </div>
            <div *ngIf="!authService.isAuthenticated()">
                <div>
                    <label style="font-size: 16px;">First name: {{userProfileDto.firstName}} </label>
                </div>
                <div>
                    <label style="font-size: 16px;">Please Log in if you want see user profile </label>
                </div>
            </div>

        </div>
        <div style="font-size: 16px;">
            <div>
                <label>Available from: {{announcement.availableFrom}}</label>
            </div>
            <div>
                <label>Publication date: {{announcement.publicationDate}}</label>
            </div>
        </div>
        <hr>
        <div style="font-size: 16px;">
            <div>
                <label>Country: {{announcement.country}}</label>
            </div>
            <div>
                <label>City: {{announcement.city}}</label>
            </div>
            <div>
                <label>Postal code: {{announcement.postalCode}}</label>
            </div>
            <div>
                <label>District: {{announcement.district}}</label>
            </div>
            <div>
                <label>State: {{announcement.state}}</label>
            </div>
            <div>
                <label>Street: {{announcement.street}}</label>
            </div>
            <div>
                <label>House number: {{announcement.houseNumber}}</label>
            </div>
        </div>
        <app-house-details *ngIf="announcement.propertyType==='HOUSE'" [id]=announcement.id style="text-align: left;">
        </app-house-details>


        <app-flat-details *ngIf="announcement.propertyType==='FLAT'" [id]=announcement.id style="text-align: left;">
        </app-flat-details>


        <app-room-details *ngIf="announcement.propertyType==='ROOM'" [id]=announcement.id style="text-align: left;">
        </app-room-details>
        <div style="font-size: 16px;">
            <div>
                <label>Living space: {{announcement.livingSpace}}</label>
            </div>
            <div>
                <label>Year built: {{announcement.yearBuilt}}</label>
            </div>
        </div>
    </div>
    <!-- </div> -->

    <!-- <div class="row"> -->
    <div class="col-md-8">
        <app-announcement-details-details [id]=announcement.id>
        </app-announcement-details-details>
    </div>
    <div class="col-md-4">
    </div>
    <!-- </div> -->
</div>