<p>announcement-details works!</p>
<p>i tuu długi i dokładny opis tego ogłoszeina </p>
<!--<p>{{announcement.id}}</p>
<p>{{announcement.date}}</p>
<p>{{announcement.description}}</p>-->
<p>id from path={{id}}</p>
<p>id from announcement={{announcement.id}}</p>
<p>id={{announcement.id}}</p>
<p>country={{announcement.country}}</p>
<p>postal code={{announcement.postalCode}}/<p>
<p>district={{announcement.district}}</p>
<p>state={{announcement.state}}</p>
<p>street={{announcement.street}}</p>
<p>hnumber={{announcement.houseNumber}}</p>
<p>title={{announcement.title}}</p>
<p>text={{announcement.text}}</p>
<p> property type={{announcement.propertyType}}</p>
<p>price = {{announcement.price}}</p>
<p>currency={{announcement.currency}}</p>
<p>living space={{announcement.livingSpace}}</p>
<p>year built={{announcement.yearBuilt}}</p>
<p>available from={{announcement.availableFrom}}</p>
<p>publicationDate={{announcement.publicationDate}}</p>
<app-announcement-details-details [id]=announcement.id ></app-announcement-details-details>
<app-room-details *ngIf="announcement.propertyType=='POKOJ'" [id]=announcement.id></app-room-details>
<app-house-details *ngIf="announcement.propertyType=='DOM'" [id]=announcement.id></app-house-details>
<!-- ngIf*="if propertyType='POKOJ'" pokoj details componetn i -->
<!-- ngIf*="if propertyType='HOUSE'" pokoj details componetn i -->

