<div class="component">
    <div *ngIf="announcement.edited==true"> ANNOUNCEMENT EDITED   </div>
    <div *ngIf="announcement.reported==true"> ANNOUNCEMENT reported  by  </div>

    <div class=" row">
        <div class="row">
            <h3 style="background-color: #eee; border: 1px solid black; text-align: center;">Announcement-details</h3>
        </div>
        <div class="col-md-12" style="border: solid 1px black;">
            <div class="row" style="border: solid 1px black;">
                <h4 style="text-align: center;">Tytuł ogłoszenia</h4>
            </div>
        </div>
        <div class="col-md-8 " style="border: solid 1px black;">

            <p>Opis ogłoszenia...</p>
            <div class="row">
                <app-gallery></app-gallery>
            </div>
        </div>
        <div class="col-md-4" style="border: solid 1px black;">
            <h5>
                Info:
            </h5>
            <p style="border-top: 1px solid black;">id from path={{id}}</p>
            <p>id from announcement={{announcement.id}}</p>
            <p>id={{announcement.id}}</p>
            <p>country={{announcement.country}}</p>
            <p>postal code={{announcement.postalCode}}
            <p>
            <p>District={{announcement.district}}</p>
            <p>state={{announcement.state}}</p>
            <p>street={{announcement.street}}</p>
            <p>hnumber={{announcement.houseNumber}}</p>
            <p>title={{announcement.title}}</p>
            <p>text={{announcement.text}}</p>
            <p> property type={{announcement.propertyType}}</p>
            <p>price = {{announcement.price}}</p>
            <p>currency={{announcement.currency}}</p>
            <p>living space={{announcement.livingSpace}}</p>
            <p>year built={{announcement.yearBuilt}}</p>
            <p>available from={{announcement.availableFrom}}</p>
            <p>publicationDate={{announcement.publicationDate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" style="border: solid 1px black;">
            <app-announcement-details-details [id]=announcement.id>
            </app-announcement-details-details>
        </div>
        <div class="col-md-4" style="border: solid 1px black;">
            <app-house-details *ngIf="announcement.propertyType=='DOM'" [id]=announcement.id>
            </app-house-details>


            <app-flat-details *ngIf="announcement.propertyType=='MIESZKANIE'" [id]=announcement.id>
            </app-flat-details>


            <app-room-details *ngIf="announcement.propertyType=='POKOJ'" [id]=announcement.id>
            </app-room-details>
        </div>
    </div>
</div>