
p {
    padding: 0 2px;
}

/* p:nth-child(1) {
    border: black solid 1px;
} */

.center-div {
    position: relative;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, 0%);
  }

  div p {
    
    text-align: start; 
    margin: 5%;
  }

  h5 {
      text-align: center;
      
  }

  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
  
  html, body { height: 100%; font-family: Lato;}
  h1 h2 h3 h4 h5 {
      font-weight: 100;
  }
  
  p {
      font-weight: 300;
  }