* {
    background-color: #eee;
}

p {
    padding: 0 2px;
}

/* p:nth-child(1) {
    border: black solid 1px;
} */

.center-div {
    position: relative;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, 0%);
  }

  div p {
    background-color: white; 
    text-align: start; 
    margin: 5%;
  }

  h5 {
      text-align: center;
      background-color: lightgray;
  }