<div>
    <h5>Flat details</h5>
    <!-- <p> id = {{flatDetails.id}}</p>
    <p> floors = {{flatDetails.floor}}</p>
    <p> bedrooms = {{flatDetails.bedrooms}}</p>
    <p> bathrooms = {{flatDetails.bathrooms}}</p>
    <p> flatParking = {{flatDetails.flatParking}}</p>
    <p> balcony = {{flatDetails.balcony}}</p> -->
</div>
<div class="col-md-12">
    <label>Floor: {{flatDetails.floor}}</label>

</div>
<div class="col-md-12">
    <label>Bedrooms: {{flatDetails.bedrooms}}</label>

</div>
<div class="col-md-12">
    <label>Bathrooms: {{flatDetails.bathrooms}}</label>

</div>
<div class="col-md-12">
    <label>Flat parking: {{flatDetails.flatParking}}</label>

</div>
<div class="col-md-12">
    <label>Balcony: {{flatDetails.balcony}}</label>

</div>
<div style="text-align: center;" *ngIf="flatDetails.basement">
    <label>Basement</label>
</div>