<h4 style="padding-left: 20px;"> Edit your profile:</h4>
<p>ID={{userProfileDto.id}}</p>
<p>username={{userProfileDto.userName}}</p>
<p>email={{userProfileDto.email}}</p>
<p>FIRSTNAME={{userProfileDto.firstName}}</p>
<p>lasSTNAME={{userProfileDto.lastName}}</p>
<p>PHONE NUMBER={{userProfileDto.phoneNumber}}</p>
<p>country code={{userProfileDto.countryCode}}</p>
<p>about={{userProfileDto.about}}</p>

<div style="padding-left: 20px;"> <button class="btn"><a (click)="editUser()" >EDIT USER</a>
    </button></div>

<!-- <p>PPOZOSTAJE KWESTIA ROZKMINIENIA Z USER  -->
<!-- PREFERENCES ITP ITD DOŚC DUŻYTEMATE</p> -->