ul li {
  list-style: none;
}

span {
  cursor: pointer;
}

.navbar-icon {
  margin: 0 4px 3px 0;
  vertical-align: middle;
  height: 26px;
}

a {
  text-decoration: none;
  color: white;
}

* { box-sizing: border-box; }

.search-section{ 
  width: 100%; 
  display: table; 
  padding: 0 0 0 0;
}
.search-div {
  display: table-cell;
  width: 100%; 
}
.search-input { 
  width: 100%; 
  color: black;
}
