<!-- --------------------HEADER ANGULAR MATERIAL-------------------- -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a routerLinkActive="active">
        <span routerLink="/" mat-icon-button>
            <mat-icon class="navbar-icon">
                home
            </mat-icon>AcoPlace
        </span>
    </a>
        <div fxFlex fxLayout=" row" fxLayoutAlign="center">
            <a>

        </a>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">


                <li>
                    <div>
                        <input style="position: absolute; left: 50px; margin-right: auto;" size="80"
                            type="text" placeholder="Search..." [(ngModel)]="announcementParams.title" name="title"
                            id="title" style="color: black">
                    </div>
                </li>
                <li routerLinkActive="active">
                    <span routerLink="/announcements-list" mat-icon-button> Search
                        
                    </span>
                </li>
                <li routerLinkActive="active">
                    <span routerLink="/add-announcement" mat-icon-button>Add
                        
                    </span>
                </li>

                <li *ngIf="!authService.isAuthenticated()" routerLinkActive="active">
                    <span routerLink="/register" mat-icon-button>Register
                        
                    </span>
                </li>
                <li *ngIf="!authService.isAuthenticated()" routerLinkActive="active">
                    <span routerLink="/login" mat-icon-button>Login
                        
                    </span>
                </li>
                <li *ngIf="authService.isAuthenticated()" routerLinkActive="active">
                    <span mat-icon-button><a (click)="logout()" >Logout</a>
                       
                    </span>
                </li>

            </ul>
        </div>

    </mat-toolbar-row>
</mat-toolbar>