<div>
    <h4 style="font-weight: bold;">House details</h4>
    <hr>

</div>

<div style="text-align: center;" *ngIf="houseDetails.floors">
    <label>Number of floors: {{ houseDetails.floors}}</label>

</div>

<div style="text-align: center;" *ngIf="houseDetails.bedrooms">
    <label>Number of bedrooms: {{ houseDetails.bedrooms}}</label>

</div>
<div style="text-align: center;" *ngIf="houseDetails.bathrooms">
    <label>Number of bathrooms: {{ houseDetails.bathrooms}}</label>

</div>
<div style="text-align: center;" *ngIf="houseDetails.lotSize">
    <label>Lot size: {{ houseDetails.lotSize}}</label>

</div>
<div style="text-align: center;" *ngIf="houseDetails.balcony">
    <label>Number of balconies: {{ houseDetails.balcony}}</label>
</div>
<div style="text-align: center;" *ngIf="houseDetails.basement">
    <label>Basement</label>
</div>
<div style="text-align: center;" *ngIf="houseDetails.parking">
    <label>Parking</label>
</div>