<div class="component">
    <div class="row">
        <div class="col-md-4">
            <h5>Wyposażenie</h5>

            <p>bath={{announcementDetails.bath}}</p>
            <p>shower={{announcementDetails.shower}}</p>
            <p>microvawe={{announcementDetails.microwave}}</p>
            <p>oven={{announcementDetails.oven}}/
            <p>
            <p>elevator={{announcementDetails.elevator}}</p>
            <p>dishwasher={{announcementDetails.dishwasher}}</p>
            <p>clothesDryer={{announcementDetails.clothesDryer}}</p>
            <p>fenced={{announcementDetails.fenced}}</p>
            <p>petsAllowed={{announcementDetails.petsAllowed}}</p>
        </div>
        <div class="col-md-4">
            <h5>Elektronika</h5>
            <p>tv={{announcementDetails.tv}}</p>
            <p>wifi={{announcementDetails.wifi}}</p>
            <p>internet={{announcementDetails.internet}}</p>
            <p>internet speed={{announcementDetails.internetSpeed}}</p>
            <p>ethernetOutlets={{announcementDetails.ethernetOutlets}}</p>


        </div>
        <div class="col-md-4">
            <h5>Położenie</h5>
            <p>nearPark={{announcementDetails.nearPark}}</p>
            <p>nearTram={{announcementDetails.nearTram}}</p>

            <p>nearShoppingMall={{announcementDetails.nearShoppingMall}}</p>
            <p>nearBakery={{announcementDetails.nearBakery}}</p>
            <p>nearFoodMarket={{announcementDetails.nearFoodMarket}}</p>
            <p>nearSuperMarket={{announcementDetails.nearSupermarket}}</p>
            <p>nearBus={{announcementDetails.nearBus}}</p>
        </div>
    </div>
</div>