<div class="component">
    <div class="row" style="font-size: 16px;">
        <div class="col-md-4">
            <h4 style="font-weight: bold; font-size: 20px;">Equipment</h4>
            <hr>
            <div style="text-align: center;" *ngIf="announcementDetails.bath">
                <label>Bath</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.shower">
                <label>Shower</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.microwave">
                <label>Microwave</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.oven">
                <label>Oven</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.elevator">
                <label>Elevator</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.dishwasher">
                <label>Dishwasher</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.clothesDryer">
                <label>Clothes dryer</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.petsAllowed">
                <label>Pets allowed</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.fenced">
                <label>Property is fenced</label>
            </div>
        </div>
        <div class="col-md-4">
            <h4 style="font-weight: bold; font-size: 20px;">Electronics</h4>
            <hr>
            <div style="text-align: center;" *ngIf="announcementDetails.tv">
                <label>TV</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.wifi">
                <label>WiFi</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.internet">
                <label>Internet</label>
            </div>
            <div style="text-align: center;">
                <label>Internet speed: {{announcementDetails.internetSpeed}} Mb/s</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.ethernetOutlets">
                <label>Ethernet outlets</label>
            </div>
        </div>
        <div class="col-md-4">
            <h4 style="font-weight: bold; font-size: 20px;">Location</h4>
            <hr>
            <div style="text-align: center;" *ngIf="announcementDetails.nearPark">
                <label>Near park</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.nearTram">
                <label>Near tram</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.nearBus">
                <label>Near bus</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.nearShoppingMall">
                <label>Near shopping mall</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.nearBakery">
                <label>Near bakery</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.nearFoodMarket">
                <label>Near food market</label>
            </div>
            <div style="text-align: center;" *ngIf="announcementDetails.nearSupermarket">
                <label>Near supermarket</label>
            </div>
        </div>



    </div>
</div>