
<p>to jest dodatkowy opis z innej tabeli w bd  </p>
<p>id ={{id}}</p>
<p>bath={{announcementDetails.bath}}</p>
<p>shower={{announcementDetails.shower}}</p>
<p>microvawe={{announcementDetails.microwave}}</p>
<p>oven={{announcementDetails.oven}}/<p>
<p>petsAllowed={{announcementDetails.petsAllowed}}</p>
<p>elevator={{announcementDetails.elevator}}</p>
<p>nearPark={{announcementDetails.nearPark}}</p>
<p>fenced={{announcementDetails.fenced}}</p>
<p>nearTram={{announcementDetails.nearTram}}</p>
<p>nearBus={{announcementDetails.nearBus}}</p>
<p>wifi={{announcementDetails.wifi}}</p>
<p>ethernetOutlets={{announcementDetails.ethernetOutlets}}</p>
<p>internet={{announcementDetails.internet}}</p>
<p>internet speed={{announcementDetails.internetSpeed}}</p>
<p>tv={{announcementDetails.tv}}</p>
<p>dishwasher={{announcementDetails.dishwasher}}</p>
<p>clothesDryer={{announcementDetails.clothesDryer}}</p>
<p>nearShoppingMall={{announcementDetails.nearShoppingMall}}</p>
<p>nearBakery={{announcementDetails.nearBakery}}</p>
<p>nearFoodMarket={{announcementDetails.nearFoodMarket}}</p>
<p>nearSuperMarket={{announcementDetails.nearSupermarket}}</p>

