<div class="container ">

    <div class="row ">
        <div class="col-md-3" style="background-color: #eee;
        height: 100%;
        top: 0; left: 0;">

            <p style="text-align: center;">Filtry</p>
            <div class="row">

            </div>
            <div (ngSubmit)="onSubmit()">

                <div class="col-md-12" style="text-align: center; margin-top: 5%;">
                    <form class="example-form">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>priceMin</mat-label>
                            <input matInput placeholder="50" value="Sushi" type="number" id="priceMin"
                                [(ngModel)]="announcementParams.priceMin" name="priceMin" required>
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-md-12" style="text-align: center;">
                    <form class="example-form">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>priceMax</mat-label>
                            <input matInput placeholder="500" value="Sushi" type="number" id="priceMax"
                                [(ngModel)]="announcementParams.priceMax" name="priceMax" required>
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-md-12" style="text-align: center;">
                    <form class="example-form">
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Property type</mat-label>

                            <mat-select id="propertyType" [(ngModel)]="announcementParams.propertyType"
                                name="propertyType" required>
                                <mat-option value="MIESZKANIE" style="text-align: center;">FLAT</mat-option>
                                <mat-option value="DOM" style="text-align: center;">HOUSE</mat-option>
                                <mat-option value="POKOJ" style="text-align: center;">ROOM</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                </div>
            </div>

            <div class="justify-content-center col-md-12" style="text-align: left; padding: 0px 30px;">
                <div class="col-md-12">
                    <div *ngIf="announcementParams.propertyType==='MIESZKANIE'">wybrales mieszkanie
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Basement</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Floor</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Bedrooms</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Bathrooms</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">FlatParking</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Balcony</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="announcementParams.propertyType==='DOM'">wybrales DOM
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Floors</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Basement</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Bedrooms</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Bathrooms</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">LotSize</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Parking</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Balcony</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="announcementParams.propertyType==='POKOJ'">wybrales POKOJ
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Floor</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">BedsInRoom</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">NumberOfFlatmates</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Bathrooms</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class=" row" style="font-size: 15px; padding: 20px 10px 10px 10px;">
                        Cechy/Wyposażenie:
                    </div>
                    <div class="justify-content-center col-md-12" style="text-align: left; padding: 0px 30px;">
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">

                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0; border-radius: 0%;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Bath</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox [(ngModel)]="announcementParams.shower" name="shower"
                                    class="example-margin">
                                    Shower</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Microvawe</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">

                                <mat-checkbox [(ngModel)]="announcementParams.oven" name="oven">
                                    Oven
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Elevator</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Internet</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">WiFi</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">EthernetOutlets</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">TV</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">ClothesDryer</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Dishwasher</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">PetsAllowed</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0 20px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">Fenced</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0 20px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px; text-align: center;">
                                InternetSpeed
                                <mat-slider min="1" max="100" step="1" value="50">
                                </mat-slider>
                            </div>
                        </div>

                    </div>
                    <div class=" row" style="font-size: 15px; padding: 10px 10px 10px 10px;">
                        Położenie:
                    </div>
                    <div class="justify-content-center col-md-12" style="text-align: left; padding: 0px 30px;">
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">nearPark</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">nearTram</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">nearBus</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">nearShoppingMall</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">nearBakery</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">nearFoodMarket</mat-checkbox>
                            </div>
                        </div>
                        <div class="row" style="background: #fff; margin: 10px 0 20px 0;">
                            <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                                <mat-checkbox class="example-margin">nearSuperMarket</mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <button type="submit">SEARCH</button>
                    <button>Reset</button>

                </div>
            </form>

        </div>
        <div class="row">
            <div class="col-md-9" style="background-color: #eee;">
                <div class="row">
                    <div class="col-md-12">

                        <div class="card-header card-header-danger">
                            <h2 class="card-title" style="text-align: center;">Announcement list</h2>
                        </div>
                        <a *ngFor="let announcement of announcements" (click)="showAnnouncementById(announcement.id)" class="list-group-item clearfix">
                    <div class="pull-left" style="padding-left: 50px;">
                        <h4 class="list-group-item-heading">{{ announcement.title }}</h4>
                        <p class="list-group-item-text">{{ announcement.city }}, {{announcement.district}}, {{announcement.state}} </p>
                      </div>
                      <div class="pull-right" style="padding-right: 50px;">
                        <h4 class="list-group-item-heading ">{{ announcement.propertyType }}</h4>
                        <p class="list-group-item-text pull-right">{{ announcement.price }} {{announcement.currency}} </p>
                    </div>
                </a>
                    </div>
                </div>

                <!-- TUTAJ WKLEIC TABELE Z NOT!!!!!!! -->

            </div>
        </div>
    </div>
</div>