<div class="row ">

    <div class="col-md-9">



        <div class="row">
            <div class="col-md-12">

                <div class="card-header card-header-danger">
                    <h2 class="card-title" style="text-align: center;">List of announcements</h2>
                </div>
                <table>

                </table>
                <!-- <mat-form-field>
                            <mat-label>
                                <input manInput placeholder="example">
                            </mat-label>
                        </mat-form-field> -->
                <a *ngFor="let announcement of announcements" (click)="showAnnouncementById(announcement.id)" class="list-group-item clearfix" style="cursor:pointer">
                    <div class="col-xs-2 image" >
                        
                    <img [src]="announcement.images[0]" onerror="this.src='/assets/images/placeholder.png';" width="auto" height="120">
                    </div>
                    <div class="col-xs-10 pull-left" style="padding-left: 50px;">
                        

                        <h4 class="list-group-item-heading">{{ announcement.title }}</h4>
                        <p class="list-group-item-text">{{ announcement.city }}, {{announcement.district}}, {{announcement.state}} </p>
                      </div>
                      <div class="pull-right" style="padding-right: 50px;">
                        <h4 class="list-group-item-heading ">{{ announcement.propertyType }}</h4>
                        <p class="list-group-item-text pull-right">{{ announcement.price }} {{announcement.currency}} </p>
                  
                    </div>
                </a>
            </div>
        </div>

        <!-- TUTAJ WKLEIC TABELE Z NOT!!!!!!! -->

    </div>

    <div class="col-md-3">

        <!-- <p style="text-align: center;">Filtry</p> -->
        <div class="row">

        </div>
        <div (ngSubmit)="onSubmit()">

            <div class="col-md-12" style="text-align: center; margin-top: 5%;">
                <form class="example-form">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Min price</mat-label>
                        <input matInput placeholder="50" value="Sushi" type="number" id="priceMin"
                            [(ngModel)]="announcementParams.priceMin" name="priceMin" required>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <form class="example-form">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Max price</mat-label>
                        <input matInput placeholder="500" value="Sushi" type="number" id="priceMax"
                            [(ngModel)]="announcementParams.priceMax" name="priceMax" required>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <form class="example-form">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Country</mat-label>
                        <input matInput placeholder="Poland" value="Sushi" type="text" id="country"
                            [(ngModel)]="announcementParams.country" name="country" required>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <form class="example-form">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="Poland" value="Sushi" type="text" id="city"
                            [(ngModel)]="announcementParams.city" name="city" required>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <form class="example-form">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>District</mat-label>
                        <input matInput placeholder="Poland" value="Sushi" type="text" id="district"
                            [(ngModel)]="announcementParams.district" name="district" required>
                    </mat-form-field>
                </form>
            </div>



            <div class="col-md-12" style="text-align: center;">
                <form class="example-form">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Internet speed</mat-label>
                        <input matInput placeholder="Poland" value="Sushi" type="number" id="internetSpeed"
                            [(ngModel)]="announcementParams.internetSpeed" name="internetSpeed" required>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <form class="example-form">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Living space</mat-label>
                        <input matInput placeholder="Poland" value="Sushi" type="number" id="livingSpace"
                            [(ngModel)]="announcementParams.livingSpace" name="livingSpace" required>
                    </mat-form-field>
                </form>
            </div>
            <div class="col-md-12" style="text-align: center;">
                <form class="example-form">
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Property type</mat-label>

                        <mat-select id="propertyType" [(ngModel)]="announcementParams.propertyType" name="propertyType"
                            required>
                            <mat-option value="FLAT" style="text-align: center;">FLAT</mat-option>
                            <mat-option value="HOUSE" style="text-align: center;">HOUSE</mat-option>
                            <mat-option value="ROOM" style="text-align: center;">ROOM</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>

        </div>

        <div class="justify-content-center col-md-12" style="text-align: left; padding: 0px 30px;">
            <div class="col-md-12">
                <div *ngIf="announcementParams.propertyType==='FLAT'">
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.basement" name="basement">Basement
                            </mat-checkbox>
                        </div>
                    </div>

                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Balcony</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="balcony"
                                    [(ngModel)]="announcementParams.balcony" name="balcony" required>
                            </mat-form-field>
                        </form>
                    </div>



                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Flat parking</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="flatParking"
                                    [(ngModel)]="announcementParams.flatParking" name="flatParking" required>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Floor</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="floor"
                                    [(ngModel)]="announcementParams.floor" name="floor" required>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Bedrooms</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="bedrooms"
                                    [(ngModel)]="announcementParams.bedrooms" name="bedrooms" required>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Bathrooms</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="bathrooms"
                                    [(ngModel)]="announcementParams.bathrooms" name="bathrooms" required>
                            </mat-form-field>
                        </form>
                    </div>

                </div>
                <div *ngIf="announcementParams.propertyType==='HOUSE'">

                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Balcony</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="balcony"
                                    [(ngModel)]="announcementParams.balcony" name="balcony" required>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Lot size</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="lotSize"
                                    [(ngModel)]="announcementParams.lotSize" name="lotSize" required>
                            </mat-form-field>
                        </form>
                    </div>

                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Floors</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="floors"
                                    [(ngModel)]="announcementParams.floors" name="floors" required>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Bedrooms</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="bedrooms"
                                    [(ngModel)]="announcementParams.bedrooms" name="bedrooms" required>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Bathrooms</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="bathrooms"
                                    [(ngModel)]="announcementParams.bathrooms" name="bathrooms" required>
                            </mat-form-field>
                        </form>
                    </div>

                    <div class="row" style=" margin: 10px 0; border-radius: 0%;">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.basement" name="basement">Basement
                            </mat-checkbox>
                        </div>
                    </div>


                    <div class="row" style=" margin: 10px 0; border-radius: 0%;">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.parking" name="parking">Parking
                            </mat-checkbox>
                        </div>
                    </div>

                </div>
                <div *ngIf="announcementParams.propertyType==='ROOM'">
                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Floor</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="floor"
                                    [(ngModel)]="announcementParams.floor" name="floor" required>
                            </mat-form-field>
                        </form>
                    </div>

                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Beds in room</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="bedsInRoom"
                                    [(ngModel)]="announcementParams.bedsInRoom" name="bedsInRoom" required>
                            </mat-form-field>
                        </form>
                    </div>
                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Number of flatmates</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="numberOfFlatmates"
                                    [(ngModel)]="announcementParams.numberOfFlatmates" name="numberOfFlatmates"
                                    required>
                            </mat-form-field>
                        </form>
                    </div>

                    <div class="col-md-12" style="text-align: center;">
                        <form class="example-form">
                            <mat-form-field class="full-width" appearance="fill">
                                <mat-label>Bathrooms</mat-label>
                                <input matInput placeholder="Poland" value="Sushi" type="number" id="bathrooms"
                                    [(ngModel)]="announcementParams.bathrooms" name="bathrooms" required>
                            </mat-form-field>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class=" row" style="font-size: 15px; padding: 20px 10px 10px 10px;">
                    Equipment:
                </div>
                <div class="justify-content-center col-md-12" style="text-align: left; padding: 0px 30px;">

                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.bath" name="bath">Bath</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.shower" name="shower" class="example-margin">
                                Shower</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.microwave" name="microwave">Microwave
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">

                            <mat-checkbox [(ngModel)]="announcementParams.oven" name="oven">
                                Oven
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.elevator" name="elevator">Elevator
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.internet" name="internet">Internet
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.wifi" name="wifi">WiFi</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.ethernetOutlets" name="ethernetOutlets">
                                Ethernet outlets</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.tv" name="tv">TV</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.clothesDryer" name="clothesDryer">
                                Clothes dryer</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.dishwasher" name="dishwasher">Dishwasher
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.petsAllowed" name="petsAllowed">
                                Pets allowed</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.fenced" name="fenced">Fenced
                            </mat-checkbox>
                        </div>
                    </div>



                </div>
                <div class=" row" style="font-size: 15px; padding: 20px 10px 10px 10px;">
                    Location:
                </div>
                <div class="justify-content-center col-md-12" style="text-align: left; padding: 0px 30px;">
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.nearPark" name="nearPark">Near park
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.nearTram" name="nearTram">Near tram
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.nearBus" name="nearBus">Near bus
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.nearShoppingMall" name="nearShoppingMall">
                                Near shopping mall</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.nearBakery" name="nearBakery">Near bakery
                            </mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.nearFoodMarket" name="nearFoodMarket">
                                Near food market</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="justify-content-center col-md-12" style="padding: 0 50px;">
                            <mat-checkbox [(ngModel)]="announcementParams.nearSupermarket" name="nearSupermarket">
                                Near supermarket</mat-checkbox>
                        </div>
                    </div>
                </div>
                <div style="text-align: center;">
                    <!-- <button class="" type="submit">Search</button> -->
                    <button mat-raised-button color="primary" type="submit">Search</button>
                </div>
            </div>
        </form>

    </div>

</div>