* {
    padding: 0;
    margin: 0;
}


.clickable {
    width: 1000px;
    height: 200px;
}
a.whole {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.table-responsive {
    margin: 30px 0;
}

.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    min-width: 1000px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 15px;
    background: #eee;
    color: #000;
    padding: 16px 30px;
    min-width: 100%;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
    height: 100%;
    
}

button {
    padding: 10px 20px;
}

.center-div {
    position: relative;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, 0%);
  }

div.image::before {
    /* content:url(http://placehold.it/70x70); */
}
